
/*Importing Fonts*/
@import url('https://fonts.googleapis.com/css?family=Lato|Merriweather');
/*Main Styles*/
*{
  font-family:"Merriweather";
}
*:focus {
    outline: none;
}
body{
  //background-color:#212121;
background: #232526; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #232526 , #414345); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #232526 , #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          
}
.wrapper{
  width:80%;
  margin:40px auto;
  background-color:white;
  box-shadow:1px 1px 1px #212125;
  border-radius:10px 10px 0 0;
}
h1,h2,h3,h4,h5,h6,nav{
  font-family:"Lato";
  padding:5px 0px 5px 10px;
}
h3{
  display:block;
  background-color:#BDBDBD;
  font-weight:bold;
  margin:10px 0px;
}
nav{
  padding:20px 20px 20px 20px;
  background-color:#f44336;
  color:white;
  border-radius:5px 5px 0 0;
  font-weight:bold;
  font-size:150%;
}
/*Form Styles*/
form{
  width:95%;
  margin:0 auto;
}
form > div{
  background-color:#F6F6F6;
  margin-bottom:15px;
  padding-bottom:15px;
}
/*Label Styles*/
label{
  font-size:1.1em;
  padding-top:10px;
  width:30%;
  padding-left:25px;
  padding-right:10px;
  text-align:right;
  clear:both;
  float:left;
}
/*Input fields + textarea + select*/
input[type="date"],
input[type="email"],
input[type="password"],
input[type="text"],
input[type="tel"],
input[type="number"],
input[type="file"],textarea,select{
  font-size:1.1em;
  width:40%;
  margin-top:5px;
  padding-left: 5px;
  outline:none;
  border:0;
  background-color:#F6F6F6;
  border-bottom:1px solid #757575;
  margin-bottom:2px;
  &:focus{
  outline: none;
  //border-bottom:2px solid #f44336;
  //margin-bottom:1px;
  }
}

/*Errors Field Styling*/
.errors{
  font-size:1.1em;
  clear:both;
  padding-left:38%;
  font-size:70%;
  color:grey;
  font-weight:bold;
  padding-top:0;
  margin-top:0;
}
#password_error:first-letter,
#first_error:first-letter,
#last_error:first-letter,
#passcon_error:first-letter,
#phone_error:first-letter{
  color:red;
  font-weight:bold;
  font-size:110%;
}
/*Buttons*/
.buttons{
  text-align:center;
  padding-top:20px;
}
input[type="submit"]{
  margin-left:15px;
}

input[type="submit"],input[type="reset"]{
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    position: relative;
    margin-bottom: .3125rem;
    font-size: .875rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0;
    cursor: pointer;
    border: 0;
    outline: 0;
  font-size:1.02rem;
    font-weight: 500;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    padding: 0.5rem 1.25rem;
    vertical-align: middle;
  
}
input[type="submit"]{
    background-color: #4caf50;
    border-color: #4caf50;
    box-shadow: none;
  &:hover{
    background-color: #3d8b40;
    border-color: #39843c;   
  }
}

input[type="reset"]{
  background-color: #f44336;
    border-color: #f44336;
    box-shadow: none;
  &:hover{
    background-color: #ea1c0d;
    border-color: #e11b0c; 
  }
}
/*Style for the required star*/
.ast{
  color:red;
}
/*Fieldset*/
fieldset{
  margin-top:20px;
  width:40%;
}
fieldset label{
  font-size:80%;
  float:none;
  text-align: left;
  vertical-align:text-top;
  width:50%;
  padding-left: 0px;
  padding-top: 10px;
}
fieldset input{
  box-shadow:0px 0px 0px 0px #ccc;
  width:10%;
  -moz-box-shadow:    0px 0px 0px 0px #ccc;
  -webkit-box-shadow: 0px 0px 0px 0px #ccc;
  box-shadow:         0px 0px 0px 0px #ccc;
}
fieldset input[type="radio"]{
  float:left;
}
/*Specific Classes*/
.empty{
  color:#F6F6F6;
}
#account{
  padding-left:20px;
}
#required{
  padding-left:20px;
}


//Material Design Animation on the input fields
.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before, .bar:after {
	content: '';
	height: 2px; 
	width: 0;
	bottom: 1px; 
	position: absolute;
	background: #F44336; 
	transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }

input:focus + .bar:before, input:focus + .bar:after { width: 20%; }
